<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="companyDropdown" role="button" data-bs-toggle="dropdown">
    Company
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="<%= aboutt_path %>">About Us</a></li>
    <li><a class="dropdown-item" href="#">Innovation Lab</a></li>
  </ul>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="businessesDropdown" role="button" data-bs-toggle="dropdown">
    Clients
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Solutions</a></li>
    <li><a  class="dropdown-item" href="#">Get In Touch</a></li>
  </ul>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="partnersDropdown" role="button" data-bs-toggle="dropdown">
    Partners
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">BRICStech Network</a></li>
    <li><a class="dropdown-item" href="#">Royalty Model</a></li>
  </ul>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="supportDropdown" role="button" data-bs-toggle="dropdown">
    Support
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">FAQs</a></li>
    <li><a  href="<%= contactt_path %>" class="dropdown-item" href="#">Contact</a></li>
  </ul>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="resourcesDropdown" role="button" data-bs-toggle="dropdown">
    Resources
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Customer Center</a></li>
    <li><a class="dropdown-item" href="#">Products</a></li>
    <li><a class="dropdown-item" href="#">Partner Portal</a></li>
  </ul>
</li>